<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %m%n" />
		</layout>
	</appender>
	<category name="org.gazzax">
		<priority value="DEBUG"/>	
   	</category>
   	<category name="org.apache.solr">
   	    <priority value="ERROR"/>
   	</category>     
   	<category name="org.apache.solr.core.SolrCore">
   	    <priority value="INFO"/>
   	</category>     
	<category name="com">
   	    <priority value="ERROR"/>
   	</category>   	
	<root>
		<priority value="ERROR"/>
 		<appender-ref ref="CONSOLE"/>
   	</root>
</log4j:configuration>